* { margin:0; padding:0;}
.clearfix { overflow:auto } 
a { text-decoration:none;}

.full{
     margin: 0 auto; 
     width:1200px;}

.top-bar{position:fixed;
	width:1200px; 
	background: blue;
	}
.clear { clear:both; }

.top-left{float:left;}
.top-left ul{
	margin:25px;
	list-style:none; }
.top-left ul li{
	padding:0 10px;
	display:inline-block; 
	border-right: 1px solid white }
.top-left ul li:last-child{
	border:0; }
.top-left ul li a{
	color:white; }
 


.top-right{
	margin:15px;
	float:right;
	padding: 3px 5px 3px 5px;
			}
.top-right input{
	border:0;
	margin :5px;
	float:left;
	border-radius:10px;}
.top-right button{
	background:lightred;
	text-align:center;
	width:40px;
	height:20px;
	margin:2px;
	border-radius:10px;
	float:right;}
.identity {
	display:table;
	padding-top:10%;
	width:1200px;
	 }

.name { display:table-cell;
	 float:left;
	margin:50px;
	width:400px;
	height:400px;
	}
.name h1 {
	margin-top:30px;
	margin-left:50px;
	margin-right:50px;
	font-size:100px; }
.name p { 
	margin-left:50px;
	font-size:200%;}

.picture {display:table-cell;
	 float:left;
	margin-top:50px;
	margin-right:50px;
	margin-left:0px;
	width:600px;
	height:400px;
	border:1px solid black; }

