* { margin:0; padding:0;}
.clearfix { overflow:auto } 
a { text-decoration:none;}

.full{ 
     margin: 0 auto; 
     width:100%;}

.top-bar{
	position:fixed;
	width:100%; 
	background: rgb(201, 196, 196);
	}
.clear { clear:both; }

.top-left{
	margin-left: 40px;
	float:left;}
.top-left ul{
	margin:35px;
	list-style:none; }
.top-left ul li{
	padding:0 10px;
	display:inline-block; 
	border-right: 1px solid white }
.top-left ul li:last-child{
	border:0; }
.top-left ul li a{
	font-size: 125%;
	color:white; }
.top-left ul a:hover{
	color: crimson;
}

.top-right{
	margin: 25px;
	margin-right: 50px;
	float:right;
	padding: 3px 5px 3px 5px;
			}
.top-right input{
	border:0;
	margin :5px;
	float:left;
	border-radius:10px;}
.top-right button{
	background:lightred;
	text-align:center;
	width:40px;
	height:20px;
	margin:2px;
	border-radius:10px;
	float:right;}


.identity {
	display:table;
	padding-top:100px;
	width:100%px;
	 }
.name {
	display:table-cell;
	float:left;
	margin:50px;
	margin-left: 70px;
	width:40%;
	height:400px;
	}
.name h1 {
	color: rgb(80, 4, 48); 
	margin-top:30px;
	margin-left:50px;
	margin-right:50px;
	font-size:100px; }
.name p {
	color: rgb(175, 8, 125); 
	margin-left:50px;
	font-size:200%;}

.picture {
	display:table-cell;
	float:left;
	margin-top:50px;
	margin-right:80px;
	margin-left:0px;
	width:600px;
	height:400px;
	border:1px solid black; }


.items { 
	background-color: whitesmoke;
	width: 100%;	}
.items_row1 { 
	padding-top: 50px;
	padding-left: 20px;
	margin: 50px;
	margin-right: 50px;
	width: 90%;
	height: 300px;
}
.items_col1 { 
	text-align: center;
	float: left;
	margin-left: 50px;
	width:500px ;
}
.items_col2 { 
	
	float: right;
	width:500px ;
}
.items_row2 {
	padding-left: 20px;
	margin: 50px;
	width: 90%;
	height: 300px;
}

.items_col1 img {
	width: 400px;
	height: 250px;
}
.link {position: absolute;
	   left: 320px;
       top:830px;
	  }
.link1{position: absolute;
	left: 900px;
	top:830px; }
.link2 {position: absolute;
	left: 320px;
	top:1180px; }
.link3 {position: absolute;
	left: 900px;
	top:1180px; }
.items_col1 a { 
	border: 2px solid white;
	background-color: black;
	color: rgb(238, 234, 234);
	border-radius: 10px;
	padding: 8px;
}
.items_col2 img {
	width: 400px;
	height: 250px;
}
.items_col2 a {
	text-align: center;
	border: 2px solid rgb(250, 243, 243);
	background-color:rgb(14, 13, 13);
	color: rgb(240, 236, 236);
	border-radius: 10px;
	padding: 8px;
}


.bottom_bar {
	padding-bottom: 10px;
	border-bottom: 10px;
	float: left;
	width: 100%;
	background-color:rgb(26, 25, 25);
}
.social ul {
	padding-top: 20px;
	text-align: center;
	list-style:none;
	background-color: none;
}
.social ul li {
	padding: 5px;
	display: inline;
	background-color:rgb(26, 25, 25);
	
}
.fa {

	color: #ffff;
}
.social .fa :hover{
	background-color: blue;
}
.left{
	color: white;
	float: left;
	margin: 20px;
	margin-left: 40px;
}
.right {
	color:white;
	float: right;
	margin: 20px;
	margin-right: 40px;
}
.copyright{
	color:white;
	text-align: center;
	padding-top: 1rem;
}